In [2]:
# Import the dependencies.

import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2022-08-26 13:35:19,-46.6000,168.3333,46.80,83,14,4.70
1,1,Kushiro,JP,2022-08-26 13:35:19,42.9750,144.3747,63.09,97,100,4.05
2,2,New Norfolk,AU,2022-08-26 13:35:19,-42.7826,147.0587,44.91,87,11,0.43
3,3,Atuona,PF,2022-08-26 13:35:20,-9.8000,-139.0333,76.14,71,47,20.20
4,4,Tabas,IR,2022-08-26 13:35:20,33.5959,56.9244,88.47,8,0,13.73

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]
Cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=Cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.dropna().head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Atuona,PF,2022-08-26 13:35:20,-9.8000,-139.0333,76.14,71,47,20.20
4,4,Tabas,IR,2022-08-26 13:35:20,33.5959,56.9244,88.47,8,0,13.73
7,7,Tura,IN,2022-08-26 13:35:21,25.5198,90.2201,77.72,86,99,3.02
8,8,Sorong,ID,2022-08-26 13:35:21,-0.8833,131.2500,78.76,83,90,5.53
13,13,Oxford,GB,2022-08-26 13:31:00,51.7522,-1.2560,75.87,52,40,6.91
14,14,Wesselsbron,ZA,2022-08-26 13:35:23,-27.8549,26.3658,80.67,15,0,13.02
21,21,Hami,CN,2022-08-26 13:35:26,42.8000,93.4500,77.16,35,100,10.87
22,22,Wanning,CN,2022-08-26 13:35:26,18.8003,110.3967,81.41,90,93,7.11
23,23,Monrovia,LR,2022-08-26 13:35:27,6.3005,-10.7969,80.01,72,96,8.59
27,27,Vila Do Maio,CV,2022-08-26 13:35:27,15.1333,-23.2167,84.99,75,57,7.20

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
3         Atuona      PF     76.14  -9.8000 -139.0333
4          Tabas      IR     88.47  33.5959   56.9244
7           Tura      IN     77.72  25.5198   90.2201
8         Sorong      ID     78.76  -0.8833  131.2500
13        Oxford      GB     75.87  51.7522   -1.2560
14   Wesselsbron      ZA     80.67 -27.8549   26.3658
21          Hami      CN     77.16  42.8000   93.4500
22       Wanning      CN     81.41  18.8003  110.3967
23      Monrovia      LR     80.01   6.3005  -10.7969
27  Vila Do Maio      CV     84.99  15.1333  -23.2167

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [15]:
# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
except (IndexError):
    print("Hotel not found... skipping.")

In [80]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Port Alfred,ZA,78.19,-33.5906,26.8910,The Halyards Hotel
8,Sao Carlos,BR,77.27,-22.0175,-47.8908,Central Park Hotel - São Carlos
12,Onitsha,NG,83.03,6.1454,6.7885,Dolly Hills Hotel
14,Lorengau,PG,79.84,-2.0226,147.2712,Lorengau Harbourside Hotel
16,Butaritari,KI,82.13,3.0707,172.7902,Isles Sunset Lodge
18,Naze,JP,81.52,28.3667,129.4833,Shishime Hotel
20,Natal,BR,84.42,-5.7950,-35.2094,Villa Park Hotel | Natal
24,Hilo,US,81.28,19.7297,-155.0900,Hilo Hawaiian Hotel
25,Albany,US,76.59,42.6001,-73.9662,
26,Cartagena,CO,83.82,10.3997,-75.5144,

In [83]:
# Add a heatmap of temperature for the vacation spots and marker for each city.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [84]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [85]:
# Store the DataFrame Row.

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [86]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))