## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint-Philippe,RE,-21.3585,55.7679,71.19,78,31,13.53,light rain
1,1,Kavaratti,IN,10.5669,72.6420,81.19,77,100,17.60,overcast clouds
2,2,Katherine,AU,-14.4667,132.2667,62.92,39,2,6.91,clear sky
3,3,Bluff,NZ,-46.6000,168.3333,46.80,79,31,6.22,scattered clouds
4,4,Tasiilaq,GL,65.6145,-37.6368,41.16,78,100,2.42,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Kavaratti,IN,10.5669,72.6420,81.19,77,100,17.60,overcast clouds
8,8,Hilo,US,19.7297,-155.0900,76.28,80,100,5.75,overcast clouds
13,13,Hithadhoo,MV,-0.6000,73.0833,79.81,71,100,8.81,overcast clouds
14,14,Faanui,PF,-16.4833,-151.7500,75.27,76,7,8.61,light rain
17,17,The Valley,AI,18.2170,-63.0578,88.11,76,1,17.81,clear sky
18,18,Coahuayana,MX,18.7333,-103.6833,82.90,79,93,2.24,overcast clouds
19,19,Arraial Do Cabo,BR,-22.9661,-42.0278,76.86,69,0,23.02,clear sky
20,20,Victoria,HK,22.2855,114.1577,85.32,86,82,3.00,broken clouds
23,23,Duobao,CN,30.6700,112.6895,79.52,84,46,2.13,scattered clouds
26,26,Albany,US,42.6001,-73.9662,79.66,69,77,1.99,broken clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                320
City                   320
Country                319
Lat                    320
Lng                    320
Max Temp               320
Humidity               320
Cloudiness             320
Wind Speed             320
Current Description    320
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_data = preferred_cities_df.dropna()
clean_data

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Kavaratti,IN,10.5669,72.6420,81.19,77,100,17.60,overcast clouds
8,8,Hilo,US,19.7297,-155.0900,76.28,80,100,5.75,overcast clouds
13,13,Hithadhoo,MV,-0.6000,73.0833,79.81,71,100,8.81,overcast clouds
14,14,Faanui,PF,-16.4833,-151.7500,75.27,76,7,8.61,light rain
17,17,The Valley,AI,18.2170,-63.0578,88.11,76,1,17.81,clear sky
...,...,...,...,...,...,...,...,...,...,...
728,728,Auki,SB,-8.7676,160.7034,75.20,84,36,5.37,scattered clouds
730,730,Fuling,CN,29.7022,107.3919,81.68,69,83,4.32,broken clouds
732,732,Zlitan,LY,32.4674,14.5687,83.25,60,0,13.82,clear sky
737,737,Quang Ngai,VN,15.1167,108.8000,79.92,85,100,4.47,overcast clouds
740,740,Shenzhen,CN,22.5455,114.0683,85.21,92,83,3.74,broken clouds

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_data[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kavaratti,IN,81.19,overcast clouds,10.5669,72.6420,
8,Hilo,US,76.28,overcast clouds,19.7297,-155.0900,
13,Hithadhoo,MV,79.81,overcast clouds,-0.6000,73.0833,
14,Faanui,PF,75.27,light rain,-16.4833,-151.7500,
17,The Valley,AI,88.11,clear sky,18.2170,-63.0578,
18,Coahuayana,MX,82.90,overcast clouds,18.7333,-103.6833,
19,Arraial Do Cabo,BR,76.86,clear sky,-22.9661,-42.0278,
20,Victoria,HK,85.32,broken clouds,22.2855,114.1577,
23,Duobao,CN,79.52,scattered clouds,30.6700,112.6895,
26,Albany,US,79.66,broken clouds,42.6001,-73.9662,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
except (IndexError):
    print("Hotel not found... skipping.")

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kavaratti,IN,81.19,overcast clouds,10.5669,72.6420,
8,Hilo,US,76.28,overcast clouds,19.7297,-155.0900,
13,Hithadhoo,MV,79.81,overcast clouds,-0.6000,73.0833,
14,Faanui,PF,75.27,light rain,-16.4833,-151.7500,
17,The Valley,AI,88.11,clear sky,18.2170,-63.0578,
18,Coahuayana,MX,82.90,overcast clouds,18.7333,-103.6833,
19,Arraial Do Cabo,BR,76.86,clear sky,-22.9661,-42.0278,
20,Victoria,HK,85.32,broken clouds,22.2855,114.1577,
23,Duobao,CN,79.52,scattered clouds,30.6700,112.6895,
26,Albany,US,79.66,broken clouds,42.6001,-73.9662,

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))